.encabezado {
    text-align: left;
    font-family: Papyrus;
    color: white;
    width: 100%;
    height: 40px;
    background-color: black;
    font-size: 18px;
    }
.loginButton{
    font-family: calibri;
    float: right; 
    width: 80px;
    height: 30px;    
}
.loginButton button:hover button{
    background-color: red;
}
#wrap { 
    font-size: 1.4em;
    font-family: papyrus;
    width: 100%;
    padding: 20px;
    margin: 0 auto; /*Da lugar al centrado de la caja en el elemento superior body*/
    background-color:  lime;}
#navbar {
    padding:0;
    margin:0;
}
#navbar li:hover {
    background-color: greenyellow /*color de fondo al acercar elmouse*/
    
}
#navbar li { 
    list-style: none;
    float: left;
    margin:10px;/* espacio entre elementos de la lista*/
}
#navbar li button {
   display: block; /* Usamos display block para poder aplicar propiedades de caja a links */
   padding: 3px 8px;
   background-color:  lime;
   color: black;
   text-decoration: none; }
#navbar li ul {
   display: none; /*La lista inicialmente no se muestra debido a display:none; */
   background-color:  lawngreen;/* color de relleno de la lista*/
}
#navbar li:hover ul {
   font-size: 12px;
   display: block; /*Al situar el cursor sobre el item la lista de subitems pasa de display none a display block y se muestra*/
   position: absolute; /*Al desplegarse el submenú no ocupa espacio y no desplaza a otros elementos gracias a que establecemos position absolute*/
   margin: 0; padding: 0; /*Anulamos margin y padding que por defecto introducen navegadores*/
   }
#navbar li:hover li { float: none; } /*Anulamos el float left que define el elemento padre para que los subitems se muestren en vertical */
/*Creamos la apariencia de los subitems de menú, color de fondo, borde inferior, color de texto*/
#navbar li:hover li a { background-color: #69f; border-bottom: 1px solid #fff; color: #000; }
/*Creamos el efecto de cambio de color y aspecto cuando ponemos el puntero del ratón sobre un subitem de menú*/   
#navbar li li button:hover { background-color:  lawngreen; }
.limpiador{padding:0; border-style:none; clear:both; } /*Forzamos a la caja a mostrarse aún conteniendo elementos flotantes*/